<div class="side-menu">
  <nav>
    <ul>
      <li class="heading" routerLink="/admin">Dashboard Home</li>
      <li class="heading" routerLink="/admin/user">User</li>
      <li class="heading" routerLink="/admin/forum">Forum</li>
      <li class="depth-2" routerLink="/admin/forum/configs">Configs</li>
      <li class="depth-2" routerLink="/admin/forum/categories">Categories</li>
      <li class="depth-2" routerLink="/admin/forum/posts">Posts</li>
      <li class="heading">File</li>
      <li class="heading" routerLink="/admin/statistic">Statistic</li>
      <li class="depth-2" routerLink="/admin/statistic/user">User</li>
      <li class="depth-2" routerLink="/admin/statistic/posts">Posts</li>
    </ul>
  </nav>
</div>