<admin-header></admin-header>
<div class="container-fluid margin-top-5 mt-sm-5">
  <div class="row">
    <admin-sidebar class="{{ admin.hidden_xs_down }} col-sm-3 col-md-2 px-0"></admin-sidebar>
    <main class="col-12 col-sm-9 col-md-10">
      <div class="container mb-3">
        <h2>Forum Create</h2>
        <div class="input-group">
          <span class="input-group-addon">ID</span>
          <input type="text" class="form-control"  [(ngModel)]="configCreate.id"  placeholder="Forum ID">
        </div>


        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" class="form-control" [(ngModel)]="configCreate.name" placeholder="Forum Name">
        </div>

        <div class="input-group">
          <span class="input-group-addon">Description</span>
          <textarea type="text" class="form-control" [(ngModel)]="configCreate.description" placeholder="Forum description...."></textarea>
        </div>


        <button (click)="onClickCreateForum()" type="button">Forum Create</button>
      </div>
      <div class="container mb-3">
        <h2>Forum List</h2>

        <div *ngIf="postConfigs" class="pagination-user" >
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th>IDX</th>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody class="users">
            <tr *ngFor="let config of postConfigs" class="user">
              <th scope="row">{{config.idx}}</th>
              <td>
                {{config.id}}
              </td>
              <td>
                <input type="email" name="email" [(ngModel)]="config.name" placeholder="Name">
              </td>
              <td>
                <input type="email" name="email" [(ngModel)]="config.description" placeholder="Description">
              </td>
              <td (click)="onClickEdit( config )" class="text-center" role="button"><i class="fa fa-pencil"></i></td>
              <td (click)="onClickDelete( config.id )" class="text-center" role="button"><i class="fa fa-trash"></i></td>
            </tr>
            </tbody>
          </table>
          <!--page-navigation
            [no_of_total_items]=" totalRecord "
            [no_of_items_in_one_page] = " limitPerPage "
            [no_of_pages_in_navigator] = " numberPerNav "
            [no_of_current_page] = " currentPage "
            [show_prev_next] = " true "
            (pageClick)="onPageClick($event)"
          >
          </page-navigation-->
        </div>

      </div>


      <div *ngFor=" let post of posts ">
        {{ post.idx }} -
        {{ post.title }} -
        {{ post.created }} -

        {{ post.files | json }}
      </div>

    </main>
  </div>
</div>
