<admin-header></admin-header>
<div class="container-fluid margin-top-5 mt-sm-5">
  <div class="row">
    <admin-sidebar class="{{ admin.hidden_xs_down }} col-sm-3 col-md-2 px-0"></admin-sidebar>
    <main class="col-12 col-sm-9 col-md-10">



      <h2>User management By admin</h2>

      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <div>UserID: <input name="id" [(ngModel)]="searchForm.id" (keyup)="onChangeSearch()"></div>
          </div>
          <div class="col">
            <div>Name: <input name="name" [(ngModel)]="searchForm.name" (keyup)="onChangeSearch()"></div>
          </div>
          <div class="col">
            <div>Email: <input name="email" [(ngModel)]="searchForm.email" (keyup)="onChangeSearch()"></div>
          </div>
        </div>
      </div>

      <div *ngIf="paginationUsers" class="pagination-user" >
        <table class="table">
          <thead class="thead-inverse">
          <tr>
            <th>IDX</th>
            <th>User ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
          </thead>
          <tbody class="users">
          <tr *ngFor="let user of paginationUsers" class="user">
            <th scope="row">{{user.idx}}</th>
            <td>
              {{user.id}}
            </td>
            <td>
              <input type="email" name="email" [(ngModel)]="user.name" placeholder="Name">
            </td>
            <td>
              <select [(ngModel)]="user.gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </td>
            <td>
              <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Address">
            </td>
            <td (click)="onClickEdit( user )" class="text-center" role="button"><i class="fa fa-pencil"></i></td>
            <td (click)="onClickDelete( user.id )" class="text-center" role="button"><i class="fa fa-trash"></i></td>
          </tr>
          </tbody>
        </table>
        <page-navigation
                [no_of_total_items]=" totalRecord "
                [no_of_items_in_one_page] = " limitPerPage "
                [no_of_pages_in_navigator] = " numberPerNav "
                [no_of_current_page] = " currentPage "
                [show_prev_next] = " true "
                (pageClick)="onPageClick($event)"
        >
        </page-navigation>
      </div>

    </main>
  </div>
</div>

