<nav class="bg-faded sidebar">
  <ul class="none">
    <li>Dashboard Indexn lOnger tesxt</li>
    <li class="">User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index and longer text.</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index</li>
    <li>User</li>
    <li>Forum</li>
    <li>Dashboard Index2</li>
    <li>User</li>
    <li>Forum</li>
  </ul>
</nav>
